<settings>
    <setting id="android_id" value="tqgzj6sh" />
    <setting id="cache_time" value="8" />
    <setting id="data_time" value="1525995643" />
    <setting id="inputstream" value="false" />
    <setting id="kinvey_auth" value="bb3ece22-7d1b-4dfc-9b66-66d93355ab8f.bb3ece227d1b4dfc9b6666d93355ab8f" />
    <setting id="kinvey_user" value="" />
    <setting id="livestreamer" value="false" />
    <setting id="reset" value="30" />
    <setting id="user_id" value="2fc8e80aa6ac1836945f2e6aed6cca86" />
</settings>
