<settings>
    <setting id="HomeMenuNoPicturesButton" type="bool">false</setting>
    <setting id="ExperimentalVolumeAmplificationUseAutomaticPresetSwitching" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="HomeVideosButtonSuperFolder1StartWith" type="bool">false</setting>
    <setting id="ViewTypesSimplicity" type="bool">false</setting>
    <setting id="DisableWidgetFanart" type="bool">false</setting>
    <setting id="HomeMenuHasFavoritesButton" type="bool">false</setting>
    <setting id="Toggling" type="bool">false</setting>
    <setting id="HomeMenuNoWeatherButton" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="homepageWeatherinfo" type="bool">false</setting>
    <setting id="ViewModeSwitchWallViews" type="bool">false</setting>
    <setting id="HomeMenuNoProgramsButton" type="bool">false</setting>
    <setting id="HomeMenuNoMovieButton" type="bool">false</setting>
    <setting id="HideBackGroundFanart" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="ShowBackgroundVideo" type="bool">false</setting>
    <setting id="ExperimentalVolumeAmplificationShowToggleButton" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="DisableNetflixLogo" type="bool">false</setting>
    <setting id="FirstTimeRun" type="bool">true</setting>
    <setting id="EnableMouseIcons" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="show_clearlogos" type="bool">false</setting>
    <setting id="HomeMenuNoMusicButton" type="bool">false</setting>
    <setting id="KeyboardGraphicalTextures" type="bool">false</setting>
    <setting id="HomeVideosButtonSuperFolder1" type="bool">false</setting>
    <setting id="DisableEvolutionBar" type="bool">false</setting>
    <setting id="UseCustomBackground" type="bool">false</setting>
    <setting id="ShowBackgroundVis" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="HomeMenuNoPVRRadioButton" type="bool">false</setting>
    <setting id="EnableViewClearlogo" type="bool">false</setting>
    <setting id="View508HideInfo" type="bool">false</setting>
    <setting id="RemoveFloorGraphics" type="bool">false</setting>
    <setting id="HideVisualizationFanart" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="HomeMenuNoVideosButton" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraPoster" type="bool">false</setting>
    <setting id="UseOriginalConfluenceBackground" type="bool">false</setting>
    <setting id="Skin_EnableAnimatedPosters" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Library" type="bool">true</setting>
    <setting id="DisableAutoComplete" type="bool">false</setting>
    <setting id="HomeMenuHasFavoritesButtonStartWith" type="bool">false</setting>
    <setting id="AnimeWindowXMLDialogClose" type="bool">false</setting>
    <setting id="HomeMenuNoTVShowButton" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="ShowStudioLogo" type="bool">false</setting>
    <setting id="HomeMusicButton7" type="string"></setting>
    <setting id="HomeMusicButton5" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="WindowColorThemed" type="string">ff33ff00</setting>
    <setting id="CustomBackgroundPath" type="string"></setting>
    <setting id="CustomWidgetLimit" type="string"></setting>
    <setting id="HomeProgramButton6" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">Addon</setting>
    <setting id="HomePVRButton1" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">Addon</setting>
    <setting id="HomeVideosButtonSuperFolder1Path" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">Library</setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="HomePictureButton3" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="HomeVideosButton7" type="string"></setting>
    <setting id="HomeProgramButton1" type="string"></setting>
    <setting id="HomePictureButton4" type="string"></setting>
    <setting id="headertexttype" type="string">true</setting>
    <setting id="HomePVRButton7" type="string"></setting>
    <setting id="HomeProgramButton2" type="string"></setting>
    <setting id="skinshortcuts-widget-3" type="string">Addon</setting>
    <setting id="HomeMusicButton1" type="string"></setting>
    <setting id="HomeVideosButton4" type="string"></setting>
    <setting id="HomePVRButton3" type="string"></setting>
    <setting id="HomePictureButton6" type="string"></setting>
    <setting id="HomeVideosButton2" type="string"></setting>
    <setting id="HomeMusicButton6" type="string"></setting>
    <setting id="HomeVideosButton1" type="string"></setting>
    <setting id="HomePVRButton2" type="string"></setting>
    <setting id="HomeMusicButton3" type="string"></setting>
    <setting id="HomePictureButton1" type="string"></setting>
    <setting id="HomePictureButton5" type="string"></setting>
    <setting id="HomeVideosButton6" type="string"></setting>
    <setting id="HomeProgramButton7" type="string"></setting>
    <setting id="HomeProgramButton5" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">addon</setting>
    <setting id="HomePVRButton5" type="string"></setting>
    <setting id="HomeVideosButtonSuperFolder1Name" type="string"></setting>
    <setting id="WindowColorMain" type="string">ff000000</setting>
    <setting id="HomeVideosButton5" type="string"></setting>
    <setting id="HomeProgramButton3" type="string"></setting>
    <setting id="HomePVRButton6" type="string"></setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="headerimagetype" type="string"></setting>
    <setting id="HomeVideosButton3" type="string"></setting>
    <setting id="apkinstaller" type="string">Now that E Doctor v.6.20 has been downloaded[CR]Click install on the next window!</setting>
    <setting id="HomePictureButton2" type="string"></setting>
    <setting id="HomePictureButton7" type="string"></setting>
    <setting id="HomeProgramButton4" type="string"></setting>
    <setting id="HomeMusicButton4" type="string"></setting>
    <setting id="HomeMusicButton2" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="HomePVRButton4" type="string"></setting>
</settings>
