<settings>
    <setting id="alluc_debrid" value="false" />
    <setting id="alluc_max_results" value="100" />
    <setting id="alluc_password" value="" />
    <setting id="alluc_username" value="" />
    <setting id="appearance.1" value="Default" />
    <setting id="appearance.alt" value="" />
    <setting id="autoplay.sd" value="false" />
    <setting id="bookmarks" value="true" />
    <setting id="cachesources" value="true" />
    <setting id="calendar_watching" value="false" />
    <setting id="debridsources" value="true" />
    <setting id="downloads" value="false" />
    <setting id="enable_alluc" value="false" />
    <setting id="episodes_colours" value="0" />
    <setting id="episodes_notaired" value="true" />
    <setting id="fanart" value="true" />
    <setting id="hosts.captcha" value="true" />
    <setting id="hosts.mode" value="4" />
    <setting id="hosts.quality" value="0" />
    <setting id="hosts.sort.provider" value="false" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="1" />
    <setting id="inprogress_db" value="true" />
    <setting id="inprogress_limit" value="100" />
    <setting id="local.watched" value="true" />
    <setting id="movie.download.path" value="" />
    <setting id="movie.widget" value="2" />
    <setting id="nanscraper" value="" />
    <setting id="progress.dialog" value="0" />
    <setting id="remote_path" value="" />
    <setting id="remote_restore_path" value="" />
    <setting id="resolveurl" value="" />
    <setting id="scrapers.timeout.1" value="45" />
    <setting id="show_specials" value="false" />
    <setting id="subtitles" value="false" />
    <setting id="subtitles.lang.1" value="English" />
    <setting id="subtitles.lang.2" value="English" />
    <setting id="subtitles.utf" value="false" />
    <setting id="tmdb.movielist_id1" value="" />
    <setting id="tmdb.movielist_id10" value="" />
    <setting id="tmdb.movielist_id11" value="" />
    <setting id="tmdb.movielist_id12" value="" />
    <setting id="tmdb.movielist_id13" value="" />
    <setting id="tmdb.movielist_id14" value="" />
    <setting id="tmdb.movielist_id15" value="" />
    <setting id="tmdb.movielist_id16" value="" />
    <setting id="tmdb.movielist_id17" value="" />
    <setting id="tmdb.movielist_id18" value="" />
    <setting id="tmdb.movielist_id19" value="" />
    <setting id="tmdb.movielist_id2" value="" />
    <setting id="tmdb.movielist_id20" value="" />
    <setting id="tmdb.movielist_id21" value="" />
    <setting id="tmdb.movielist_id22" value="" />
    <setting id="tmdb.movielist_id23" value="" />
    <setting id="tmdb.movielist_id24" value="" />
    <setting id="tmdb.movielist_id25" value="" />
    <setting id="tmdb.movielist_id26" value="" />
    <setting id="tmdb.movielist_id27" value="" />
    <setting id="tmdb.movielist_id28" value="" />
    <setting id="tmdb.movielist_id29" value="" />
    <setting id="tmdb.movielist_id3" value="" />
    <setting id="tmdb.movielist_id30" value="" />
    <setting id="tmdb.movielist_id4" value="" />
    <setting id="tmdb.movielist_id5" value="" />
    <setting id="tmdb.movielist_id6" value="" />
    <setting id="tmdb.movielist_id7" value="" />
    <setting id="tmdb.movielist_id8" value="" />
    <setting id="tmdb.movielist_id9" value="" />
    <setting id="tmdb.movielist_name1" value="" />
    <setting id="tmdb.movielist_name10" value="" />
    <setting id="tmdb.movielist_name11" value="" />
    <setting id="tmdb.movielist_name12" value="" />
    <setting id="tmdb.movielist_name13" value="" />
    <setting id="tmdb.movielist_name14" value="" />
    <setting id="tmdb.movielist_name15" value="" />
    <setting id="tmdb.movielist_name16" value="" />
    <setting id="tmdb.movielist_name17" value="" />
    <setting id="tmdb.movielist_name18" value="" />
    <setting id="tmdb.movielist_name19" value="" />
    <setting id="tmdb.movielist_name2" value="" />
    <setting id="tmdb.movielist_name20" value="" />
    <setting id="tmdb.movielist_name21" value="" />
    <setting id="tmdb.movielist_name22" value="" />
    <setting id="tmdb.movielist_name23" value="" />
    <setting id="tmdb.movielist_name24" value="" />
    <setting id="tmdb.movielist_name25" value="" />
    <setting id="tmdb.movielist_name26" value="" />
    <setting id="tmdb.movielist_name27" value="" />
    <setting id="tmdb.movielist_name28" value="" />
    <setting id="tmdb.movielist_name29" value="" />
    <setting id="tmdb.movielist_name3" value="" />
    <setting id="tmdb.movielist_name30" value="" />
    <setting id="tmdb.movielist_name4" value="" />
    <setting id="tmdb.movielist_name5" value="" />
    <setting id="tmdb.movielist_name6" value="" />
    <setting id="tmdb.movielist_name7" value="" />
    <setting id="tmdb.movielist_name8" value="" />
    <setting id="tmdb.movielist_name9" value="" />
    <setting id="tmdb.tvlist_id1" value="" />
    <setting id="tmdb.tvlist_id10" value="" />
    <setting id="tmdb.tvlist_id11" value="" />
    <setting id="tmdb.tvlist_id12" value="" />
    <setting id="tmdb.tvlist_id13" value="" />
    <setting id="tmdb.tvlist_id14" value="" />
    <setting id="tmdb.tvlist_id15" value="" />
    <setting id="tmdb.tvlist_id16" value="" />
    <setting id="tmdb.tvlist_id17" value="" />
    <setting id="tmdb.tvlist_id18" value="" />
    <setting id="tmdb.tvlist_id19" value="" />
    <setting id="tmdb.tvlist_id2" value="" />
    <setting id="tmdb.tvlist_id20" value="" />
    <setting id="tmdb.tvlist_id21" value="" />
    <setting id="tmdb.tvlist_id22" value="" />
    <setting id="tmdb.tvlist_id23" value="" />
    <setting id="tmdb.tvlist_id24" value="" />
    <setting id="tmdb.tvlist_id25" value="" />
    <setting id="tmdb.tvlist_id26" value="" />
    <setting id="tmdb.tvlist_id27" value="" />
    <setting id="tmdb.tvlist_id28" value="" />
    <setting id="tmdb.tvlist_id29" value="" />
    <setting id="tmdb.tvlist_id3" value="" />
    <setting id="tmdb.tvlist_id30" value="" />
    <setting id="tmdb.tvlist_id4" value="" />
    <setting id="tmdb.tvlist_id5" value="" />
    <setting id="tmdb.tvlist_id6" value="" />
    <setting id="tmdb.tvlist_id7" value="" />
    <setting id="tmdb.tvlist_id8" value="" />
    <setting id="tmdb.tvlist_id9" value="" />
    <setting id="tmdb.tvlist_name1" value="" />
    <setting id="tmdb.tvlist_name10" value="" />
    <setting id="tmdb.tvlist_name11" value="" />
    <setting id="tmdb.tvlist_name12" value="" />
    <setting id="tmdb.tvlist_name13" value="" />
    <setting id="tmdb.tvlist_name14" value="" />
    <setting id="tmdb.tvlist_name15" value="" />
    <setting id="tmdb.tvlist_name16" value="" />
    <setting id="tmdb.tvlist_name17" value="" />
    <setting id="tmdb.tvlist_name18" value="" />
    <setting id="tmdb.tvlist_name19" value="" />
    <setting id="tmdb.tvlist_name2" value="" />
    <setting id="tmdb.tvlist_name20" value="" />
    <setting id="tmdb.tvlist_name21" value="" />
    <setting id="tmdb.tvlist_name22" value="" />
    <setting id="tmdb.tvlist_name23" value="" />
    <setting id="tmdb.tvlist_name24" value="" />
    <setting id="tmdb.tvlist_name25" value="" />
    <setting id="tmdb.tvlist_name26" value="" />
    <setting id="tmdb.tvlist_name27" value="" />
    <setting id="tmdb.tvlist_name28" value="" />
    <setting id="tmdb.tvlist_name29" value="" />
    <setting id="tmdb.tvlist_name3" value="" />
    <setting id="tmdb.tvlist_name30" value="" />
    <setting id="tmdb.tvlist_name4" value="" />
    <setting id="tmdb.tvlist_name5" value="" />
    <setting id="tmdb.tvlist_name6" value="" />
    <setting id="tmdb.tvlist_name7" value="" />
    <setting id="tmdb.tvlist_name8" value="" />
    <setting id="tmdb.tvlist_name9" value="" />
    <setting id="tmdb_apikey" value="" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="tv.download.path" value="" />
</settings>
