<settings>
    <setting id="token" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MjMxOTMxNDksImlkIjoic2NyaXB0Lm1vZHVsZS50aGV0dmRiIiwib3JpZ19pYXQiOjE1MjMxMDY3NDl9.eLbsikx5dQF8JysbLHtlCgZonf-PMJ5lrEdqHGCvPG0ps1aTMmSJ3Mtroen9VMFRGRqFBbXUwqXpTP7XUJl229bh4keZVlXk8arua7ciHQn3XlIiykyD381FDdMO5Xn05LrDJzfaLJ00D0coYSiZeUH__Yg6TIXDWava0nAMECCNGFGkzbKzaGV6f5fFmBWmpFs7Svjqg8n2lZ__XI5AeZV8wNkUYxnztse7QBYd58eMoTpow47ib-IA5UrGnkjSjTzEAQL3XVyZ1x9BYLpqbStnSDIHKCrXbaYCCAv0wbRFddbi3RJXTcfrdnpmu5avFBZnDQBgwBP1ns5DmAq6Ow" />
</settings>
