<settings>
    <setting id="TRAKT_ACCESS_TOKEN" value="" />
    <setting id="TRAKT_EXPIRES_AT" value="" />
    <setting id="TRAKT_REFRESH_TOKEN" value="" />
    <setting id="allow_debrid" value="true" />
    <setting id="allow_openload" value="true" />
    <setting id="allow_the_video_me" value="true" />
    <setting id="allow_vidup_me" value="true" />
    <setting id="autostart_queue" value="true" />
    <setting id="cache_folder" value="special://profile/addon_data/plugin.video.helenwaite/" />
    <setting id="debug" value="false" />
    <setting id="default_link" value="BOTH" />
    <setting id="disable_messages" value="false" />
    <setting id="disable_metadata_dialog" value="false" />
    <setting id="dlimage" value="false" />
    <setting id="enable_gifs" value="false" />
    <setting id="enable_offensive" value="false" />
    <setting id="first_run" value="false" />
    <setting id="hide_help" value="false" />
    <setting id="include_watched_queue" value="false" />
    <setting id="language_id" value="system" />
    <setting id="lastfm_api_key" value="7c7d11231b6d20b8ab981f6b9082d9cc" />
    <setting id="lastfm_secret" value="9b7df25e8165f57f2841b84dae7b97d9" />
    <setting id="link_fallthrough" value="true" />
    <setting id="metadata" value="false" />
    <setting id="movie_metadata_provider" value="Trakt" />
    <setting id="news_win" value="false" />
    <setting id="settings_context" value="true" />
    <setting id="tmdb_api_key" value="d4e8e09867464147474063b1dfac2d0f" />
    <setting id="trailer_context" value="true" />
    <setting id="trakt_api_client_id" value="d71f37a3611e85c364c86c606126df479f6878a15e15bfd490f29702a43856c7" />
    <setting id="trakt_api_client_secret" value="8b3c509d7ae20fb31efcf95a7f030da562c37a8f0d9cd100db6ac1a41970f8ac" />
    <setting id="tv_metadata_provider" value="Trakt" />
    <setting id="tvdb_api_key" value="" />
    <setting id="use_link_dialog" value="true" />
</settings>
